<p id="notice"><%= notice %></p>

<%= turbo_frame_tag 'course-lesson-list' do %>
  <h1>Lessons</h1>

  <table>
    <thead>
      <tr>
        <th class="h2" style="background:none;">Course</th>
        <th class="h2" style="background:none;">Title</th>
        <th class="h2" style="background:none;">Content</th>
        <th class="h2" style="background:none;">Picture</th>
        <th class="h2" style="background:none;">Document</th>
        <th class="h2" style="background:none;">Documents (Array)</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @lessons.each do |lesson| %>
        <tr>
          <td><%= lesson.course_id %></td>
          <td><%= lesson.title %></td>
          <td><%= lesson.content %></td>
          <td data-title="Picture">
            <figure class="picture is-128x128">
            <% if lesson.picture.attached? %>
              <%= image_tag(url_for(lesson.picture), size: 50) %>
            <% end %>
            </figure>
          </td>
          <td data-title="Document">
          <% if (lesson.document.attached?) %> 
            <% if lesson.document.representable? %>
              <%= image_tag(lesson.document.preview(resize_to_fit: [100,100])) %>
              <br>
              <%= link_to "View File", lesson.document %> 
              <br>
              <%= link_to "Download File", lesson.document, download: '' %>
            <% end %>  
          <% end %>
          </td>

          <td data-title="Documents">
          <% if (lesson.documents.attached?) %> 
            <% lesson.documents.each do |document| %> 
              <% if document.representable? %>
              <%= image_tag(document.preview(resize_to_fit: [100,100])) %>
              <%end%>
            <%end%>
          <%end%>
          </td>




          <td><%= link_to 'Show', [@course, lesson], target: '_top' %></td>
          <td><%= link_to 'Edit', edit_course_lesson_path(@course, lesson), target: '_top' %></td>
          <td><%= link_to 'Destroy', [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, target: '_top' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>

<br>

<%= link_to 'New Lesson', new_course_lesson_path(@course) %>
